img {
	max-width: 100%;
	object-fit: cover;
	/* height: 100%; */
}

body {
	transition: all 0.3s;
	background: linear-gradient(to bottom, #ff6a00, #720400);
	height: 100vh;
	display: flex;
}

.swiper {
	/* display: none; */
	width: 600px;
	height: 100%;
}

.container {
	/* position: absolute;
	left: 50%;
	top: 50%; */
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
}

.nickName {
	color: white;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

.visual {
	/* max-height: 600px; */
	display: flex;
	text-align: center;
	margin-bottom: 1rem;
}

.visual img {
	box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.nav {
	max-width: 600px;
}

.nav ul {
	display: flex;
	gap: 1rem;
}

.nav ul li {
	border: 4px solid transparent;
	transition: all 0.3s;
}

.nav ul li:hover {
	transform: scale(1.05);
}

.nav ul li.is-active {
	border: 4px solid white;
}
